* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(img/logos/background.png);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.error{
    color: red;
    margin-bottom: 5px;
}

#container {
    display: flex;
    max-width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 160px;
    background: linear-gradient(90deg, #fdf2e9 58%, white 58%);
    border-radius: 15px;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}

#container.show{
    visibility: visible;
    opacity: 1;
}
#left-container p{
    color: black;
}

#container #left-container {
    max-width: 365px;
    margin: 0 50px;
    padding-top: 50px;
    color: white;
    padding-bottom: 25px;
    opacity: 0;
	margin-left: 50px;
	transition: all 2s ease;
}
#container.show #left-container{
    opacity: 1;
}

section {
    display: flex;
}

hr {
    width: 300px;
    margin: 5px 0;
}

#web-name {
    margin-top: 45px;
    line-height: 0.9;
}

#right-container {
    width: 400px;
    margin: 20px 0;
    color: black;
}

.login-heading {
    text-transform: uppercase;
    text-align: center;
    margin-left: 80px;
    padding-bottom: 25px;
    padding-top: 50px;
}

form {
    margin-left: 90px;
}

.login-user-box input {
    position: relative;
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-bottom: 25px;
    font-size: 16px;
    background: transparent;
}

.login-user-box label {
    position: relative;
    left: 0;
    top: -60%;
    padding: 10px 0;
    pointer-events: none;
    /* font-weight: 600; */
}

#container2 button {
    margin: 10px 0;
    padding: 10px 110px;
    text-align: center;
    background-color: #e67e22;
    cursor: pointer;
    color: #fff;
    border: #e67e22;
}

#container2 button a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

#container2 button:hover {
    background-color: #cf711f;
    color: #fff;
}

#sub-div {
    display: flex;
    padding-left: 3px;
    padding-top: 5px;
}

#sub-div a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}